.navbar-brand img{
    width: 290px;
    height: 40px;
}
.banner-left img{
    width: 407px;
    width: 407px;
}
.banner-right-text-color{
    color: #FA804C;
}

@media screen and (max-width: 992px) {
    .banner-right{
        padding-left: 40px;
    }
    .banner-full{
        flex-direction: column-reverse;
        }
}